
<%= flash_messages %>
<h2>Report</h2>

<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>Price:</strong>
  	$<%= @report.price %>
</p>

<%= link_to 'Edit', edit_report_path(@report), class: "btn btn-warning" %>
<%= link_to "Back", reports_path, class: "btn btn-default" %>
